*{
    font-family: Calibri;

}

#navig{
    background-color: #5f5f5f;
}

.nav-link{
    color: white;
    font-size: 18px;
}

.navbar-toggler-icon{
    color: white;
}

#navig a:hover{
    color:white;
    text-decoration: underline;
}

#logo{
    width: 5%;
}

body{
    background-color: #dedede;
}